<footer id="section-footer" class="section section-footer">
	<div id="zone-postscript-wrapper" class="zone-wrapper zone-postscript-wrapper clearfix">  
		<div id="zone-postscript" class="zone zone-postscript clearfix container-12">
			<div class="grid-12 region region-postscript-first" id="region-postscript-first">
				<div class="region-inner region-postscript-first-inner">
					<div class="block block-menu-block block-4 block-menu-block-4 odd block-without-title" id="block-menu-block-4">
						<div class="block-inner clearfix">
							<div class="content clearfix">
								<div class="menu-block-wrapper menu-block-4 menu-name-main-menu parent-mlid-0 menu-level-1">
									<ul class="menu">

										<li class="first expanded menu-mlid-1055">
											<a href="/about" title="Biotech research, bio tech, CBIS, Center for Biotechnology &amp; Interdisciplinary Studies. Over 200 CBIS scientists and engineers uncover molecular basis of biological mechanisms and disease.">About</a>
											<ul class="menu">
												<li class="first leaf menu-mlid-1102">
													<a href="/about/directors-message" title="Deepak Vashishth, biotechnology center director at Rensselaer Polytechnic Institute, celebrates 10 years of biotechnology research.">Director&#039;s Message</a></li>
												<li class="leaf menu-mlid-1104">
													<a href="/about/leadership" title="CBIS leads the way in combining biomedical science and engineering through cell biology, biomedical engineering, chemical engineering, and informatics research.">Leadership</a></li>
												<li class="leaf menu-mlid-1172">
													<a href="/about/mtsinai" title="To promote truly personalized medicine and medical care, the Icahn School of Medicine at Mount Sinai (ISSM) and the Rensselaer Polytechnic Institute (RPI) are collaborating on educational programs, research, and the development and commercialization of new diagnostic tools and treatments.">Partnership with Mount Sinai</a></li>
												<li class="last leaf has-children menu-mlid-1176">
													<a href="/about/interdisciplinary-partnerships" title="CBIS fosters collaborations among faculty, students, scientists, and entrepreneurs between the arts, business, architecture and biotech research.">Interdisciplinary Partnerships</a></li>
											</ul>
										</li>

										<li class="expanded menu-mlid-1067">
											<a href="/research" title="CBIS at RPI is a national leader in biotech research, conducting Interdisciplinary experiments at the frontiers of biotechnology research and development.">Research</a>
											<ul class="menu">
												<li class="first leaf menu-mlid-1159">
													<a href="/research/biologics" title="RPI CBIS researchers in biologics are bioengineeriung therapeutics, creating nanoscale networks, and mapping protein networks.">Biologics</a></li>
												<li class="leaf menu-mlid-1165">
													<a href="/research/bioimaging" title="Integrated x-ray computed tomography and magnetic resonance imaging (CT/MRI), optical molecular tomography, multimodality, and other unconventional biomedical imaging technology.">Bioimaging</a></li>
												<li class="leaf menu-mlid-1166">
													<a href="/research/biomanufacturing" title="Efficient biofuels, therapeutics, and chemical production are key outcomes of CBIS’s work in Biomanufacturing and protein synthesis.">Biomanufacturing</a></li>
												<li class="leaf menu-mlid-1167">
													<a href="/research/biomolecular-science-engineering" title="CBIS biomolecular science and engineering is advancing diagnostic and therapeutic modalities to improve human health.">Biomolecular Science &amp; Engineering</a></li>
												<li class="leaf menu-mlid-1214">
													<a href="/research/biophysics-and-structural-biology" title="CBIS investigates biological systems to identify structure-function relationships and their modifications in infectious diseases, cancer, heart diseases, osteoporosis, osteoarthritis and Alzheimer’s disease.">Biophysics and Structural Biology</a></li>
												<li class="leaf menu-mlid-1215">
													<a href="/research/microbiomics" title="CBIS scientists, engineers, and architects work on both fundamental and applied aspects of microbial consortia in the context of human health and built environment.">Microbiomics</a></li>
												<li class="leaf menu-mlid-1216">
													<a href="/research/neuroscience" title="CBIS researchers develop strategies for neurodegenerative conditions and injuries using cell biology, engineering tools, Bioimaging, bioinformatics.">Neuroscience</a></li>
												<li class="leaf menu-mlid-1168">
													<a href="/research/stem-cell-bioengineering" title="CBIS has the nation’s most advanced interdisciplinary stem-cell laboratory, supporting collaborative projects in cell biology, biomedical engineering, chemical engineering, and informatics research.">Stem-Cell Bioengineering</a></li>
												<li class="leaf has-children menu-mlid-1118">
													<a href="/research/constellations" title="Rensselaer’s research constellations are endowed faculty-run centers TO perform multidisciplinary, collaborative research.">Constellations</a></li>
												<li class="last leaf menu-mlid-1258">
													<a href="/centers">Centers</a></li>
											</ul>
										</li>
										
										<li class="expanded menu-mlid-1060">
											<a href="/facilities" title="The Center for Biotechnology and Interdisciplinary Studies Building (CBIS) supports several state-of-the-art Research Cores that are available to all Rensselaer faculty, staff and students and also to external academic and industrial collaborators and researchers.">Facilities</a>
											<ul class="menu">
												<li class="first leaf has-children menu-mlid-1083">
													<a href="/facilities/biochemistry" title="The CBIS Analytical Biochemistry Core Facility facilitates physical and/or chemical characterization of biological samples and nano-materials.">Analytical Biochemistry</a></li>
												<li class="leaf menu-mlid-1240">
													<a href="/facilities/bioresearch" title="CBIS BioResearch Core (BRC) facilities includes 14,000 square feet of rodent research space with barrier housing in ventilated rack systems, surgery and procedure suites, necropsy and anesthesia rooms, sterilization and washing facility, Hydropac water system, behavioral and circadian research suites, an aquatic research complex and quarantine facilities.">BioResearch</a></li>
												<li class="leaf has-children menu-mlid-1183">
													<a href="/facilities/bioimaging" title="CBIS Bioimaging Research Facility offers advanced imaging equipment supported by trained technicians from the Bioresearch Core facility.">Bioimaging</a></li>
												<li class="leaf has-children menu-mlid-1184">
													<a href="/facilities/cell-molecular-biology" title="The Cell and Molecular Biology Core Facility provides state-of-the-art facilities to support experimental demands ranging from routine culture techniques to advanced cell transfection and cell sorting capabilities.">Cell &amp; Molecular Biology</a></li>
												<li class="leaf has-children menu-mlid-1343">
													<a href="/facilities/flow-cytometry-core">Flow Cytometry</a></li>
												<li class="leaf has-children menu-mlid-1416">
													<a href="/facilities/genomics">Genomics</a></li>
												<li class="leaf has-children menu-mlid-1211">
													<a href="/facilities/microbiology" title="The Microbiology Research Core at Rensselaer can facilitate bacterial growth, harvesting, and processing on a small, medium and large scale.">Microbiology</a></li>
												<li class="leaf has-children menu-mlid-1231">
													<a href="/facilities/microscopy" title="The CBIS Microscopy facility is equipped with a number of state-of-the-art microscopes to provide service and consultation to both on- and off-campus investigators.">Microscopy</a></li>
												<li class="leaf has-children menu-mlid-1194">
													<a href="/facilities/nuclear-magnetic-resonance-research-nmr" title="The Nuclear Magnetic Resonance (NMR) Research Core is used for solution structure determination of small molecules (proteins, carbohydrates and macromolecular complexes) at atomic resolution.">Nuclear Magnetic Resonance</a></li>
												<li class="leaf has-children menu-mlid-1241">
													<a href="/facilities/proteomics" title="The CBIS Proteomics Facility is equipped with state-of-the-art mass spectrometers to provide service and consultation on mass spectrometry to both on and off campus investigators.">Proteomics</a></li>
												<li class="leaf has-children menu-mlid-1244">
													<a href="/facilities/stem-cell-research" title="The Stem Cell Research Core provides comprehensive support for basic stem cell research with tissue engineering and regenerative medicine applications.">Stem Cell Research</a></li>
												<li class="leaf menu-mlid-1243">
													<a href="/research/facilities-mt-sinai-mssm" title="RPI researchers can take advantage of the research facilities at MSSM via the Mt. Sinai website.">Facilities at Mt. Sinai MSSM</a></li>
												<li class="last leaf menu-mlid-1182">
													<a href="/equipment" title="Review a list of all equipment available at CBIS">Full Equipment List</a></li>
											</ul>
										</li>
										
										<li class="expanded menu-mlid-1069">
											<a href="/students" title="CBIS encourages student research at the undergraduate and graduate level. We also offer high school practicum opportunities through area secondary schools.">Students</a>
											<ul class="menu">
												<li class="first leaf has-children menu-mlid-1177">
													<a href="/students/nigms-bse">NIGMS Training Program (BSE)</a></li>
												<li class="last leaf has-children menu-mlid-1386">
													<a href="/students/nia-adctr">NIA Training Progam (ADCTR)</a></li>
											</ul>
										</li>
										
										<li class="last leaf menu-mlid-1068">
											<a href="/faculty" title="CBIS biotech researchers include stellar faculty from Rensselaer Polytechnic Institute Schools of Engineering, Biomedical Engineering, Architecture, Science, Business, and the Humanities.">Faculty</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
					<div class="block block-menu-block block-7 block-menu-block-7 even block-without-title" id="block-menu-block-7">
						<div class="block-inner clearfix">
							<div class="content clearfix">
								<div class="menu-block-wrapper menu-block-7 menu-name-menu-right-main-menu parent-mlid-0 menu-level-1">
									<ul class="menu">
										<li class="first leaf menu-mlid-1071">
											<a href="/industry-partners" title="Companies looking to solutions for cutting-edged biotechnology problems are finding their way to RPI’s unique Center for Biotechnology and Interdisciplinary Studies (CBIS).">Industry Partners</a></li>
										<li class="expanded menu-mlid-1116">
											<a href="/news">News</a></li>
										<li class="expanded menu-mlid-1073">
											<a href="/support">Support</a>
											<ul class="menu">
												<li class="first leaf menu-mlid-1178">
													<a href="/support/how-to-give">How to Give</a></li>
												<li class="last leaf menu-mlid-1179">
													<a href="/support/how-to-designate-your-gift">How To Designate Your Gift</a></li>
											</ul>
										</li>
										<li class="last expanded menu-mlid-1070">
											<a href="/contact">Contact</a>
											<ul class="menu">
												<li class="first last expanded menu-mlid-1103">
													<a href="/contact/administration" title="Staff, hours, location, and directions to Center for biotechnology and Interdisciplinary Studies, CBIS, at Rensselaer Polytechnic Institute in Troy, NY.">Administration</a>
													<ul class="menu">
														<li class="first leaf has-children menu-mlid-1217">
															<a href="/contact/administration/room-reservations">Conference Room Reservations</a></li>
														<li class="leaf menu-mlid-1218">
															<a href="/contact/administration/access-and-lab-coat-requests">Printer Pins, Access, and Lab Coat Requests</a></li>
														<li class="leaf menu-mlid-1427">
															<a href="/contact/administration/cbis-guest-request">CBIS Guest Request</a></li>
														<li class="leaf menu-mlid-1347"><a href="http://biotech.rpi.edu/sites/default/files/VPR Purchase Request Form - Universal.pdf" title="Purchase Request Form PDF file">CBIS Purchase Request Form</a></li>
														<li class="leaf menu-mlid-1351">
															<a href="http://biotech.rpi.edu/sites/default/files/CBIS%20Purchasing%20Guide.pdf#overlay-context=faculty" title="How to place an order for supplies or services at CBIS">CBIS Purchasing Guide</a></li>
														<li class="leaf menu-mlid-1372">
															<a href="http://biotech.rpi.edu/sites/default/files/VPR%20Shipping%20Form.pdf" title="">CBIS Shipping Form</a></li>
														<li class="leaf menu-mlid-1368">
															<a href="http://biotech.rpi.edu/sites/default/files/CBIS Travel Instructions 2017.pdf" title="">CBIS Travel Instructions</a></li>
														<li class="leaf menu-mlid-1364">
															<a href="http://biotech.rpi.edu/sites/default/files/Finance Staff 2018.pdf" title="">PI Group Assignments by Administrator</a></li>
														<li class="leaf menu-mlid-1369">
															<a href="http://biotech.rpi.edu/sites/default/files/PRE Travel Form.doc" title="">Pre-Travel Approval Form</a></li>
														<li class="last leaf menu-mlid-1426">
															<a href="https://biotech.rpi.edu/sites/default/files/2019%20Access%20Form.pdf" title="CBIS Access Form">CBIS Access Form</a></li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
					<div class="block block-block block-40 block-block-40 odd block-without-title" id="block-block-40">
						<div class="block-inner clearfix">
							<div class="content clearfix">
								<div>Center for Biotechnology and Interdisciplinary Studies</div>
								<div>1623 15th Street</div>
								<div>Troy, N.Y. 12180<br />phone: 518-276-4259 | fax: 518-276-4233 | email: <a href="mailto:biotech-info@rpi.edu">biotech-info@rpi.edu</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="zone-footer-wrapper" class="zone-wrapper zone-footer-wrapper clearfix">  
		<div id="zone-footer" class="zone zone-footer clearfix container-12">
			<div class="grid-12 region region-footer-first" id="region-footer-first">
				<div class="region-inner region-footer-first-inner">
					<div class="block block-block block-26 block-block-26 odd block-without-title" id="block-block-26">
						<div class="block-inner clearfix">
							<div class="content clearfix">
								<div id="footer_nav">
									<a href="https://info.rpi.edu/web-privacy-statement" title="Web Privacy Policy">Web Privacy Policy</a> | <a href="http://www.rpi.edu/news/resource/media.html">Media Policy</a> | <a href="http://www.rpi.edu/site/copyright.html" title="Copyright 1996-2009 Rensselaer Polytechnic Institute">Copyright Notice</a> | <a href="http://www.rpi.edu/site/feedback.html" title="Feedback Form">Your Feedback</a> | <a href="http://rpinfo.rpi.edu/contact.html">Contact Us</a> | <a href="http://www.rpi.edu/site/searchrpi.html" title="Search RPI Web sites">Search</a>
								</div>
								<div class="footText"><a href="http://www.rpi.edu">Rensselaer Polytechnic Institute</a> (RPI), 110 Eighth Street, Troy, NY USA 12180, <a href="tel:(518) 276-6000">(518) 276-6000</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="grid-12 region region-footer-second" id="region-footer-second">
				<div class="region-inner region-footer-second-inner">
					<div class="block block-block block-49 block-block-49 odd block-without-title" id="block-block-49">
						<div class="block-inner clearfix">
							<div class="content clearfix">
								<script type="text/javascript" charset="utf-8">
									jQuery(document).ready(function($) {
										$("#nav-rpi").click(function() {
											if($("#rpi-mega").is(":visible")) {
												$("#rpi-mega").slideUp();
											} else {
												$("#rpi-mega").slideDown();
												$("#rpiQueryHolder").focus();
											}
										});
									// strip out image height and width 
										$("#block-system-main img").removeAttr("height").removeAttr("width");
										$("#siteBanner").click(function() {
											location.href = "/cisl";
										});
									});
								</script>
								<div id="hiddenForms" class="invisible">
									<form name="googleForm" method="get" action="https://info.rpi.edu/rpi-search">
										<input type="hidden" value="" name="rpisearch">
									</form>
									<form name="directoryForm" method="post" action="https://info.rpi.edu/directory-search/">
										<input type="hidden" value="" name="query">
										<input type="hidden" value="" name="setappvar">
										<input type="hidden" value="directory" name="datasetName">
										<input type="hidden" value="200" name="qct">
									</form>
								</div>
							</div>
						</div>
					</div>
					
					<div class="block block-block block-50 block-block-50 even block-without-title" id="block-block-50">
						<div class="block-inner clearfix">
						    <div class="content clearfix">
								<script>
									(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
										(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
										m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
									})
								
									(window,document,'script','//www.google-analytics.com/analytics.js','ga');

									ga('create', 'UA-53698013-1', 'auto');
									ga('send', 'pageview');
								</script>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>