<div id="skip-link">
	<a href="{{ site.url }}{{ site.baseurl }}/#main-content" class="element-invisible element-focusable">Skip to main content</a>
</div>
<div id="topbar-outer">
	<div id="topbar" class="container">
		<div class="region region-topbar">
			<section id="block-block-17" class="block block-block clearfix">
				<a href="https://biotech.rpi.edu/" style="text-decoration:none">Center for Biotechnology &amp Interdisciplinary Studies</a>
			</section>
			<section id="apply-donate-links" class="block block-block clearfix">
				<a href="http://www.rpi.edu/">Rensselaer Polytechnic Institute</a>
			</section>
		</div>

	</div>
</div>

<div id="navbar-outer">
	<header id="navbar" role="banner" class="navbar container navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a href="http://www.rpi.edu/" id="rpiLogo"><img alt="Rensselaer" src="{{ site.baseurl }}/assets/images/RPIlogo-no-tagline.png"></a>
			<a class="name navbar-brand" href="{{ site.url }}{{ site.baseurl }}/" title="Home">The Cramer Lab</a>

			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" aria-expanded="false" style="height: 2px;">
			<nav role="navigation">
				<ul class="menu nav navbar-nav">
					<li class="first leaf">
						<a href="{{ site.url }}{{ site.baseurl }}/">Home</a>
					</li>
					<li class="expanded dropdown">
						<a href="{{ site.url }}{{ site.baseurl }}/research" class="dropdown-toggle" data-toggle="dropdown">Research</a>
						<ul class="dropdown-menu">
							<li class="first leaf"><a href="{{ site.url }}{{ site.baseurl }}/research/chromatography.html" title="">Chromatography</a></li>
							<li class="leaf"><a href="{{ site.url }}{{ site.baseurl }}/research/nmr.html">Nuclear Magnetic Resonance (NMR)</a></li>
							<li class="leaf"><a href="{{ site.url }}{{ site.baseurl }}/research/MD.html">Molecular Dynamics Simulations</a></li>
							<li class="leaf"><a href="{{ site.url }}{{ site.baseurl }}/research/colmod.html">Column Modelling</a></li>
							<li class="leaf"><a href="{{ site.url }}{{ site.baseurl }}/research/qspr.html">Quantitative Structure Activity Relationship (QSAR)</a></li>
							<li class="last leaf"><a href="{{ site.url }}{{ site.baseurl }}/research/#affinity">Affinity Precipitaion</a></li>
						</ul>
					</li>
					<li class="expanded dropdown">
						<a href="{{ site.url }}{{ site.baseurl }}/teaching" class="dropdown-toggle" data-toggle="dropdown">Teaching</a>
						<ul class="dropdown-menu">
							<li class="first leaf"><a href="{{ site.url }}{{ site.baseurl }}/teaching/taught.html#course1" title="">Chromatographic Separation Processes</a></li>
							<li class="leaf"><a href="{{ site.url }}{{ site.baseurl }}/teaching/taught.html#course2">Chemical Engineering Separations</a></li>
							<li class="last leaf"><a href="{{ site.url }}{{ site.baseurl }}/teaching/lab.html">Senior Lab</a></li>
						</ul>
					</li>
					<li class="leaf">
						<a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a>
					</li>
					<li class="leaf">
						<a href="{{ site.url }}{{ site.baseurl }}/patents">Patents</a>
					</li>
					<li class="expanded dropdown">
						<a href="{{ site.url }}{{ site.baseurl }}/people" class="dropdown-toggle" data-toggle="dropdown">People</a>
						<ul class="dropdown-menu">
							<li class="first leaf"><a href="{{ site.url }}{{ site.baseurl }}/people/bio.html" title="">Dr. Steven M. Cramer</a></li>
							<li class="leaf"><a href="{{ site.url }}{{ site.baseurl }}/people">Current Members</a></li>
							<li class="last leaf"><a href="{{ site.url }}{{ site.baseurl }}/alumni">Alumni</a></li>
						</ul>
					</li>
					<li class="leaf">
						<a href="{{ site.url }}{{ site.baseurl }}/gallery">Gallery</a>
					</li>
					<li class="leaf">
						<a href="{{ site.url }}{{ site.baseurl }}/news">News</a>
					</li>
					<li class="last leaf">
						<a href="{{ site.url }}{{ site.baseurl }}/awards">Student Awards</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	</header>
</div>

<div id="tabs-outer">
	<div id="tabs" class="container">
		<div class="region region-tabs">
			<section id="block-menu-block-9" class="block block-menu-block clearfix">
				<div class="menu-block-wrapper menu-block-9 menu-name-main-menu parent-mlid-0 menu-level-1">
					<ul class="menu nav">
						<li class="first leaf menu-mlid-1436"><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
						<div class="dropdown">
							<li class="leaf has-children menu-mlid-1340"><a href="{{ site.url }}{{ site.baseurl }}/research" style="text-decoration:none">Research</a></li>
							<div class="dropdown-content" id="res-dp">
								<a href="{{ site.url }}{{ site.baseurl }}/research/chromatography.html" style="text-decoration:none">Chromatography</a>
								<a href="{{ site.url }}{{ site.baseurl }}/research/nmr.html" style="text-decoration:none">Nuclear Magnetic resonance (NMR)</a>
								<a href="{{ site.url }}{{ site.baseurl }}/research/MD.html" style="text-decoration:none">Molecular Dynamics (MD) Simulations</a>
								<a href="{{ site.url }}{{ site.baseurl }}/research/colmod.html" style="text-decoration:none">Column Modelling</a>
								<a href="{{ site.url }}{{ site.baseurl }}/research/qspr.html" style="text-decoration:none">Quantitative Structure Activity Relationships (QSAR)</a>
								<a href="{{ site.url }}{{ site.baseurl }}/research/#affinity" style="text-decoration:none">Affinity Precipitation</a>
							</div>
						</div>
						<div class="dropdown">
							<li class="leaf has-children menu-mlid-1116"><a href="{{ site.url }}{{ site.baseurl }}/teaching" style="text-decoration:none">Teaching</a></li>
							<div class="dropdown-content" id="tea-dp">
								<a href="{{ site.url }}{{ site.baseurl }}/teaching/taught.html#course1" style="text-decoration:none">Chromatographic Separation Processes</a>
								<a href="{{ site.url }}{{ site.baseurl }}/teaching/taught.html#course2" style="text-decoration:none">Chemical Engineering Separations</a>
								<a href="{{ site.url }}{{ site.baseurl }}/teaching/lab.html" style="text-decoration:none">Senior Lab</a>
							</div>
						</div>
						<li class="leaf menu-mlid-1437"><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
						<li class="leaf menu-mlid-1116"><a href="{{ site.url }}{{ site.baseurl }}/patents">Patents</a></li>
						<div class="dropdown">
							<li class="leaf has-children menu-mlid-1341"><a href="{{ site.url }}{{ site.baseurl }}/people" style="text-decoration:none">People</a></li>
							<div class="dropdown-content" id="peo-dp">
								<a href="{{ site.url }}{{ site.baseurl }}/people/bio.html" style="text-decoration:none">Dr. Steven M. Cramer</a>
								<a href="{{ site.url }}{{ site.baseurl }}/people" style="text-decoration:none">Current Members</a>
								<a href="{{ site.url }}{{ site.baseurl }}/alumni" style="text-decoration:none">Alumni</a>
							</div>
						</div>
						<li class="leaf menu-mlid-1116"><a href="{{ site.url }}{{ site.baseurl }}/gallery">Gallery</a></li>
						<li class="last leaf menu-mlid-1116"><a href="{{ site.url }}{{ site.baseurl }}/news">News</a></li>
						<li class="last leaf menu-mlid-1466"><a href="{{ site.url }}{{ site.baseurl }}/awards">Student Awards</a></li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</div>
